.Page {
  text-align: center;
  font-family: 'Source Serif Pro, sans-serif';
  color: #000;
  font-size: calc(8px + 1vh);
}

body { 
  background-color: rgb(97, 122, 128);
  font-family: 'Source Serif Pro, sans-serif';
  font-size: 1.15rem;
}

h1,h2,h3,h4,h5,h6 { 
  font-family: 'Source Serif Pro, sans-serif';
}

/* GENERAL/MISC SITE WIDE:  */
@media screen and (min-width: 768px) {
  #projects-container { 
    margin-left: 15%!important;
    margin-right: 15%!important;
    margin-top: 3vh;
    margin-bottom: 3vh;
  }
}

/* css line */
#line:before { 
  content: "";
	width: 8px;
	height: 8px;
	background: #d1d7d7!important;
	border-radius: 4px;
	position: absolute;
  margin-top: -4px;
  margin-left: -4px;
}

h2 { 
  font-size: calc(32px + 4vw);
}

ul li a {
  text-decoration:none;
}

a, img { 
  cursor: pointer;
}

.Link {
  color: #000;
}

@media(any-hover: hover) {
  a:hover {
    text-decoration: none;
    opacity: 0.25;
    -webkit-transition: opacity 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: opacity 0.25s;
  }

  img:hover{
      opacity: 0.4;
      -webkit-transition: opacity 0.25s;
      -moz-transition: 0.25s;
      -o-transition: 0.25s;
      transition: opacity 0.25s; 
  }
}

.hidden{ 
  overflow: hidden;
}

.top-margin{
  margin-top: 9vh;
}

.section--innerShadowTop { 
  box-shadow: inset 0 10px 14px -11px rgba(97, 122, 128)
}
/* FOOTER */
.footer { 
  background: rgb(209,215,215)
}

/* HEADER / COLLAPSE CSS  */
/* ########################## */
.Header {
  width: 90%;
  height: 48px!important;
  font-size: calc(8px + 1vw);
  margin-top: 1vh;
  margin-left: 5%;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.9);
  position: fixed;
  z-index: 5;
  line-height: 0!important;
}

.Header__inline{
  height: 48px;
  font-size: calc(1.05rem + 0.3vw);
  width: 100%!important;
  margin-right: 0!important;
  margin-left: 0!important;
  background-color: rgba(255,255,255,1.0);
  z-index: 5;
  line-height: 0!important;
}

.neumorph { 
  box-shadow:  -2px 6px 6px rgba(97, 122, 128)
}

.neumorph--image-border-big{
  box-shadow: -6px 8px 6px rgb(38, 61, 69)
}
.Header__vertical {
  /* just the letters MDMC, not the buttons */
  font-size: calc(11px + 1vmin); 
  z-index: 5;
  width: 48px;
  height: 100%;
  min-height: 36px;
  position: fixed;
  overflow: hidden;
  margin-left: 8px!important;
  margin-top: 5vh!important;
  background-color: rgba(255,255,255,1.0);
}

/* LINKS in HEADER */
.Header a,
.Header__inline a,
.Header__vertical a{ 
  text-decoration: none!important;
  box-shadow: 0 0; 
  color: rgb(0,0,0);
}

.header--fixed-width { 
  width: 600px;
}

.EmojiButton { 
  font-size: calc(10px + 2vmin);
  cursor: pointer;
}

/* for header collapsing */
.collapsing.width {
  -webkit-transition-property: width;
  transition-property: width;
  width: 48px !important;
  /* overflow: hidden; */  
} 

.Header.collapse.width { 
  width: 48px !important;
}

.Header.show.width { 
  width: calc(90vw - 30px) !important;
}

.Header__vertical.collapse:not(.show) {
  height: 6vh !important;
  display: flex;
}

.Header__vertical.collapsing:not(.show) {
  -webkit-transition-property: height;
  transition-property: height;
  height: 6vh !important; 
}

.Header__vertical.collapsing.show {
  -webkit-transition-property: height;
  transition-property: height;
  height: calc(90vh - 30px) !important;
}

.Header__vertical.collapse.show { 
  height: calc(90vh - 30px) !important;
}

.width { 
  -webkit-transition-property: width 3s;
  transition-property: width 3s;
  display: flex!important;
}

.height { 
  -webkit-transition-property: height 3s;
  transition-property: height 3s;
  display: flex!important;
}

/* CAROUSEL CSS */
/* ########################## */
/* add fade to carousel slide (right to left direction) */
.carousel-item { 
  -webkit-transition: all 0.4s ease-in-out, opacity 0.5s ease-in;
  -moz-transition: all 0.4s ease-in-out, opacity 0.5s ease-in;
  -ms-transition: all 0.4s ease-in-out, opacity 0.5s ease-in;
  -o-transition: all 0.4s ease-in-out, opacity 0.5s ease-in;
  transition: all 0.4s ease-in-out, opacity 0.5s ease-in;
  opacity: 0 !important;
}

.carousel-item.active { 
  opacity: 1 !important;
}

.carousel-item-left.active,
.carousel-item-right.active { 
  opacity: 0 !important;
}

.carousel-inner { 
  height: 100%;
}

.bio_descriptions_carousel {

  margin-top: 0;
}

.image_carousel { 
  height: 21em;
  margin-top: 3em;
}

@media screen and (min-width: 768px) { 
  .bio_descriptions_carousel { 
    margin-top: 5em!important;
  }
  .image_carousel { 
    margin-top: 8em!important;
  }
}

/* STANDARD SITE WIDE BORDERS */
/* ########################## */
@media screen and (max-width: 768px) { 
  .image-border-big-container { 
    border-radius: 0!important;
  }
  .image-border-big-bottom {
    border-radius: 0!important;
  }
  .image-border-big-top {
    border-radius: 0!important;
  }
}
.image-border{ 
  border-radius: 20px 5px 20px;
}

.image-border-big{
  border-radius: 40px 5px 40px;
}

.image-border-big-container { 
  border-radius: 40px 5px 40px;
}

/* effect bottom left, bottom right INSIDE*/
.image-border-big-bottom {
  border-radius: 0 0 38px 3px;
}

/* effect bottom left INSIDE */
.image-border-big-bottomleft {
  border-radius: 0 0 0 5px;
}

.image-border-big-top {
  border-radius: 38px 3px 0px 0px;
}

.image-border-big-bottomright {
  border-radius: 0 0 40px 0;
}

.image-reversed-border { 
  border-radius: 5px 40px 5px;
}

/* GRID (FOR PROJECTS COMPONENT) */
/* ############################# */
.grid img{ 
  cursor: pointer;
}

.grid__item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 150px;
  max-height: 80vh;
  font-size: 1em;
  color: inherit;
  /* overflow: hidden; */
  text-decoration: none;
  opacity: 1;
  border: none;
  background: rgb(255,255,255);
}
/* .grid__item:active + .grid__description {
  max-height: 1000px;
  transition: max-height 2.0s ease-in;
} */

.card-header {
  margin: 0;
  padding: 0;
}

.card-header:focus {
  outline: 0;
}

.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-position: 150% 100%; */
}
.grid__description {
  top: 0;
  overflow: hidden;
  height: 100%;
  transition: max-height 0.4s ease-in;
}

@media screen and (min-width: 40em) {
  .grid {
    display: grid;
    grid-template-areas: "item item item" 
                         "desc desc desc";
    /* grid-template-columns: 33% 33% 33%; */
  }

  .grid__description {
    grid-area: desc;
  }
}



/* DEPRECATED: OLD PROJECTS */
.textbox-container {
  text-align: left;
  justify-content: center;
}

.preview {
  height: 260px;
  width: 100%;
}

.textbox .textbox-text {
  text-align: center;
  font-size: 14px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  color: rgb(38, 61, 69);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* text pop up */
.textbox {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  opacity: 0.0;
  overflow: hidden;
  background-color: #fff;
  transition: opacity .5s ease-in-out;
}

.textbox:hover { 
  opacity: 1.0;
}
/* END: DEPRECATED */